.login_innerContainer > img {
    object-fit: contain;
    height: 100px;
    margin-bottom: 40px;
}

.login_container {
    background-color: #f8f8f8;
    height: 100vh;
    display: grid;
    place-items: center;
}

.login_innerContainer {
    padding: 100px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.login_button{
    margin-top: 20px !important;
    text-transform: inherit !important;
    background-color: #0a8d48 !important;
    color: white !important;
    /* padding: 10px; */
}