.sidebar_container {
    color: white;
    background-color: var(--slack-color);
    flex: 0.3;
    border-top: 1px solid #49274b;
    max-width: 260px;
    margin-top: 60px;
    overflow: auto;
}

/* .sidebar_container:hover {
    overflow-y: scroll;
} */

.sidebar_container::-webkit-scrollbar {
    display: none;
    /* background-color: transparent; */
}

.sidebar_header {
    display: flex;
    border-bottom: 1px solid #49274b;
    padding: 13px;
}

.pencil_icon {
    padding: 8px;
    color: #49274b;
    font-size: 18px;
    background-color: white;
    border-radius: 999px;
}

.sidebar_info{
    flex: 1;
}

.sidebar_info > h2 {
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 5px;
}

.sidebar_info > h3 {
    display: flex;
    font-size: 13px;
    font-weight: 400;
    align-items: center;
}

.fiber_icon {
    font-size: 14px;
    margin-top: 1px;
    margin-right: 2px;
    color: green;
}

hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #49274b;
}